body{
    overflow: hidden;
    margin: 0px;
    color: white;
    font-family: Montserrat;
    background-color: black;
}


.container{
    display: flex;
    height: 650px;
    margin: 0.5rem;
}

.sidebar{
    background-color: black;
    width: 340px;
    z-index: -1;
}

.main-content{
    background-color: #121212;
    border-radius: 1rem;
    flex: 1;
    overflow: auto;
    padding: 0rem 1rem 0rem 1rem;
    z-index: 2;
    margin-bottom: 0.5rem;
}

.music-player{
    background-color: black;
    margin: 0rem 1rem;
    margin-top: 1rem;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 5rem;
    display: flex;
}

a{
    text-decoration: none;
    color: white;
}

.nav-option i{
    font-size: 1.25rem;
}

.sidebar-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    background-color: #121212;
    padding: 1rem 1rem;
    margin: 0.5rem;
    margin-top: 0.5rem;
}

.nav-option{
    line-height: 2.5rem;
    opacity: 0.8;
}

.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}

.nav-option:hover{
    opacity: 1;
}

.your-library img{
    width: 20px;
    height: 20px;
}

.lib-option{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 490px;
    padding: 1rem 1rem;
    margin: 0.5rem;
    z-index: -1;
}

.lib-icon i{
    font-size: 1.25rem;
    margin-right: 1rem;
    opacity: 0.8;
}

.your-library a{
    margin-left: 0.5rem;
    font-weight: 700;
}

.your-library{
    margin-left: 0.5rem;
    opacity: 0.8;
}

.your-library:hover{
    opacity: 1;
}

.lib-icon i:hover{
    opacity: 1;
}

.lib-card{
    background-color: #232323;
    border-radius: 0.75rem;
    height: 8rem;
    padding: 0.25rem 1.25rem;
    margin-top: 2rem;
}

.p1{
    font-size: 1rem;
    font-weight: 600;
}

 .p2{
    font-size: 0.85rem;
    font-weight: 500;
}

.btn{
    margin-top: 0.5rem;
    border: none;
    border-radius: 100px;
    height: 2rem;
    padding: 0.25rem 1rem;
    font-weight: 700;
    cursor: pointer;
}

.lib-card-2{
    background-color: #232323;
    border-radius: 0.75rem;
    height: 11rem;
    padding: 0.25rem 1.25rem;
    margin-top: 2rem;
}

.upper-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
}

.main-nav img{
    width: 1.5rem;
    height: 1.5rem;
}

.main-icon i{
    margin-right: 0.75rem;
    cursor: pointer;
}

.main-icon button{
    margin-right: 0.75rem;
}

.main-nav i{
    font-size: 1.5rem;
}

.lower-nav{
    padding-left: 1rem;
}

.lower-nav button{
    margin-right: 0.5rem;
}

.main-nav{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #121212;
}

.card-heading:hover{
    text-decoration: underline;
}



.cards{
    display: flex;
    flex-wrap: wrap;
}

.card-container{
    width: 11rem;
    height: 17rem;
    padding: 0.5rem;
    border-radius: 0.75rem;
    cursor: pointer;
    margin-right: 0.5rem;
}

.card-container img{
    width: 100%;
    height: 12rem;
    border-radius: 0.75rem;
}

.card-container p{
    margin: 0.5rem;
}

.card-container:hover{
    background-color: #232323;
}

.link{
    display: flex;
    margin-left: 1rem;
}

.footer{
    margin-top: 4rem;
}

ul{
    list-style-type: none;
    padding-left: 2rem;
    margin-right: 2rem;
}

li{
    margin-top: 0.5rem;
    color: #B3B3B3;
    opacity: 0.8;
}

li:hover{
    opacity: 1;
    text-decoration: underline;
}

.upper-footer{
    display: flex;
    justify-content: space-between;
}

.social-icon i{
    font-size: 1rem;
}

.socials{
    display: flex;
    padding-top: 0.75rem;
    margin-right: 2.5rem;
}

.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.25rem;
    height: 2.25rem;
    margin-right: 1rem;
    border-radius: 50%;
    background-color: #232323; 
}

.social-icon:hover{
    background-color: gray;
}

.division{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.line{
    width: 95%;
    height: 2.5rem;
    border-top: 1px solid #B3B3B3;
    margin-top: 2rem;
}

.lower-links a{
    font-size: 0.875rem;
    color: #B3B3B3;
    margin-right: 0.75rem;
}

.lower-footer{
    padding: 0rem 2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.lower-links a:hover{
    color: white;
    text-decoration: underline;
}

.copyright{
    font-size: 0.875rem;
    color: #B3B3B3;
}

.album{
    width: 25%;
    display: flex;padding-bottom: 0.25rem;
}

.player{
    width: 50%;
}

.other-controls{
    width: 25%;
}

.album img{
    width: 3.5rem;
    height: 3.5rem;
    margin-top: 0.4rem;
}

.album-info p{
    margin: 0;
}

.album-info{
    margin-left: 1rem;
    margin-top: 1rem;
}

.album-info p:hover{
    color: white;
    text-decoration: underline;
}

.like-btn img{
    width: 1.25rem;
    height: 1.25rem;
    margin: 0;
    opacity: 0.7;
}

.like-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.like-btn img:hover{
    opacity: 1;
}

.player-controls img{
    width: 1rem;
    height: 1rem;
    margin: 0.5rem;
    padding-right: 1.25rem;
    opacity: 0.7;
    cursor: pointer;
}

.player{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.player-controls{
    margin-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.playback-bar{
    display: flex;
    color: #B3B3B3;
    font-size: 12px;
    font-weight: 500;
    margin-top: 0.15rem;
    justify-content: center;
    align-items: center;
}

.seek{
    width: 25rem;
    appearance: none;
    cursor: pointer;
    border-radius: 100px;
}

.seek::-webkit-slider-runnable-track{
    background-color: #B3B3B3;
    border-radius: 100px;
    height: 0.3rem;
}

.seek::-webkit-slider-thumb{
    appearance: none;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: white;
    margin-top: -0.25rem;
}

.other-controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.other-controls img{
    margin-right: 0.5rem;
}

.other-controls img:hover{
    opacity: 1;
}

.seek-2::-webkit-slider-runnable-track{
    background-color: #B3B3B3;
    border-radius: 100px;
    height: 0.3rem;
}

.seek-2::-webkit-slider-thumb{
    appearance: none;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: white;
    margin-top: -0.20rem;
}

.seek-2{
    width: 90px;
    appearance: none;
    cursor: pointer;
    border-radius: 100px;
}

.player-controls img:hover{
    opacity: 1;
}